* {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
    background-color: #0b132e;
}

.sun {
    position: absolute;
    z-index: 1012;
    width: 90px;
    height: 90px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    background: rgb(247, 255, 23);
    box-shadow: 0px 0px 55px rgb(255, 255, 71);
    
}

.mercury {
    position: absolute;
    background: blue;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    animation: orbit 2s infinite linear;
    top: calc(50% + 82px);
    left: calc(50% + 68px);
}

.mercury-border {
    animation: orbit 2s infinite linear;
    position: absolute;
    border: 3px solid blue;
    border-radius: 100%;
    width: 222px;
    height: 222px;
    top: 32%;
    left: 43%;
    transform: translate(-50%, -50%);
}
.neptun {
    position: absolute;
    background: greenyellow;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    top: calc(50% + 555px);
    left: calc(50% + 90px);
    animation: orbit 5s infinite linear;
}

.neptun-border {
    position: absolute;
    animation: orbit 5s infinite linear;
    border: 3px solid greenyellow;
    border-radius: 50%;
    width: 1221px;
    height: 1221px;
    top: -57%;
    left: 13%;
    transform: translate(-50%, -50%);
}
.jupiter {
    position: absolute;
    background: rgb(179, 122, 233);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    top: calc(50% + 255px);
    left: calc(50% + 90px);
    animation: orbit 7s infinite linear;
}

.jupiter-border {
    animation: orbit 7s infinite linear;
    position: absolute;
    border: 3px solid rgb(179, 122, 233);
    border-radius: 50%;
    width: 666px;
    height: 666px;
    top: -6%;
    left: 31%;
    transform: translate(-50%, -50%);
}
.mars {
    position: absolute;
    background: rgb(210, 20, 220);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top: calc(50% + 233px);
    left: calc(50% + 90px);
    animation: orbit 6s infinite linear;
}

.mars-border {
    animation: orbit 6s infinite linear;
    position: absolute;
    border: 3px solid rgb(210, 20, 220);
    border-radius: 50%;
    width: 555px;
    height: 555px;
    top: 3%;
    left: 34%;
    transform: translate(-50%, -50%);
}

.venus {
    position: absolute;
    width: 20px;
    height: 20px;
    background: orangered;
    border-radius: 50%;
    top: calc(50% + 131px);
    left: calc(50% + 80px);
    animation: orbit 3s infinite linear;
}

.venus-border {
    animation: orbit 3s infinite linear;
    position: absolute;
    border: 3px solid orangered;
    border-radius: 100%;
    width: 333px;
    height: 333px;
    top: 23%;
    left: 40%;
    transform: translate(-50%, -50%);
}

.earth {
    position: absolute;
    background: rgb(237, 100, 100);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    top: calc(50% + 180px);
    left: calc(50% + 90px);
    animation: orbit 5s infinite linear;
}

.earth-border {
    animation: orbit 5s infinite linear;
    position: absolute;
    border: 3px solid rgb(237, 100, 100);
    border-radius: 50%;
    width: 444px;
    height: 444px;
    top: 13%;
    left: 37%;
    transform: translate(-50%, -50%);
}

.saturn {
    position: absolute;
    background: peru;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    top: calc(50% + 377px);
    left: calc(50% + 90px);
    animation: orbit 8s infinite linear;
}

.saturn-border {
    animation: orbit 8s infinite linear;
    position: absolute;
    border: 3px solid peru;
    border-radius: 50%;
    width: 844px;
    height: 844px;
    top: -21%;
    left: 25%;
    transform: translate(-50%, -50%);
}

.uranus {
    position: absolute;
    background: skyblue;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    top: calc(50% + 452px);
    left: calc(50% + 90px);
    animation: orbit 9s infinite linear;
}

.uranus-border {
    animation: orbit 9s infinite linear;
    position: absolute;
    border: 3px solid skyblue;
    border-radius: 50%;
    width: 1012px;
    height: 1012px;
    top: -35%;
    left: 20%;
    transform: translate(-50%, -50%);
}



@keyframes orbit {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

