*{
    margin:0;
    padding:0;
}
body{
    overflow: hidden;
    background-color: rgb(27, 27, 71);
}
.sun{
    position: absolute;
    z-index: 1012;
    width:90px;
    height:90px;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    border-radius:100%;
    background: rgb(247, 255, 23);
    box-shadow:0px 0px 60px yellow;
}
.mercury{
    position: absolute;
    z-index: 1012;
    width:90px;
    height:90px;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    border-radius:100%;
    background: rgb(247, 255, 23);
    box-shadow:0px 0px 60px yellow;
}
.neptun{
    position: absolute;
    z-index: 1012;
    width:90px;
    height:90px;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    border-radius:100%;
    background: rgb(247, 255, 23);
    box-shadow:0px 0px 60px yellow;
}
.jupiter{
    position: absolute;
    z-index: 1012;
    width:90px;
    height:90px;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    border-radius:100%;
    background: rgb(247, 255, 23);
    box-shadow:0px 0px 60px yellow;
}
.mars{
    position: absolute;
    z-index: 1012;
    width:90px;
    height:90px;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    border-radius:100%;
    background: rgb(247, 255, 23);
    box-shadow:0px 0px 60px yellow;
}
.venus{
    position: absolute;
    z-index: 1012;
    width:90px;
    height:90px;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    border-radius:100%;
    background: rgb(247, 255, 23);
    box-shadow:0px 0px 60px yellow;
}
.earth{
    position: absolute;
    z-index: 1012;
    width:90px;
    height:90px;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    border-radius:100%;
    background: rgb(247, 255, 23);
    box-shadow:0px 0px 60px yellow;
}
.saturn{
    position: absolute;
    z-index: 1012;
    width:90px;
    height:90px;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    border-radius:100%;
    background: rgb(247, 255, 23);
    box-shadow:0px 0px 60px yellow;
}
.uranus{
    position: absolute;
    z-index: 1012;
    width:90px;
    height:90px;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    border-radius:100%;
    background: rgb(247, 255, 23);
    box-shadow:0px 0px 60px yellow;
}

